{% extends 'mailings/base.html' %}

{% block content %}
<section class="py-1 text-center container">
    <div class="row py-lg-4">
        <div class="mx-auto">
            <h1>{{ title }}</h1>
            <p class="lead text-center">Добро пожаловать на сайт по рассылке писем вашим клиентам</p>
            <p class="text-start">На нашем сайте вы можете воспользоваться удобным сервисом для создания и управления
                рассылками сообщений клиентам. Мы предлагаем гибкие настройки, возможность сегментации аудитории и
                автоматическое отслеживание статусов рассылок. Простота использования и индивидуальный подход помогут
                вам эффективно поддерживать связь с вашими клиентами.</p>
        </div>
    </div>

    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 mx-auto d-flex justify-content-center">
            <a class="btn btn-custom mx-2 " href=''>Создать рассылку</a>
            <a class="btn btn-custom mx-2 " href="{% url 'mailings:client_form' %}">Добавить клиента</a>
            <a class="btn btn-custom mx-2" href="{% url 'mailings:message_form' %}">Создать письмо для рассылки</a>
        </div>
    </div>
</section>
{% endblock %}