{% extends 'mailings/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-start mb-4">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        {% for mailing in mailings %}
        <div class="col-md-6 mb-3">
            <div class="card text-bg-light mb-3" style="height: 100%;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ mailing.title }}</h5>
                            <p class="card-text">
                                <strong>Первый запуск:</strong> {{ mailing.date_first_dispatch }}<br>
                            </p>
                            <p class="card-text">
                                <strong>Периодичность:</strong> {{ mailing.get_periodicity_display }} сек.<br>
                            </p>
                            <p class="card-text">
                                <strong>Статус:</strong> {{ mailing.get_status_display|title }}<br>
                            </p>
                            <div class="col-12">
                                <div class="card-body">
                                    <a class="btn btn-custom m-2"
                                       href="{% url 'mailings:mailings_delete' pk=mailing.id %}">Удалить</a>
                                    <a class="btn btn-custom m-2"
                                       href="{% url 'mailings:mailings_update' pk=mailing.id %}">Изменить</a>
                                    <a class="btn btn-custom m-2"
                                       href="{% url 'mailings:mailings_detail' pk=mailing.id %}">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <a class="btn btn-custom mx-2" href="{% url 'mailings:mailings_form' %}">Создать рассылку</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}